:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eceff1;
    --white:  white;
    --black: #000000;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --light-blue: #6fa4d5;
  }

  *{
    font-family: 'Times New Roman', Times, serif;
  }

  html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 70%;
    background-color: var(--light-blue);
  }
 
/* this is navbar */
  header{
    position: relative;
    top: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: var(--dark);
    z-index: 1001;
    border: 1px solid blue;
  }

  header .logo{
    font-size: 3rem;
    color: var(--gray);
    padding: 0rem;
    text-decoration: none;

}

header .navbar a{
    margin: 0 0.8rem;
    font-size: 2rem;
    color: var(--light);
    padding: 0.3rem;
    text-decoration: none;
    cursor: pointer;
}

header .navbar a:hover {color: var(--darkest)}

.home{
    background-color: var(--gray);
    height: 0vh;
    margin-top: 240px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
}
.wrapper, .home-text{
    position: absolute;
}
.wrapper{
   border: 2px solid red; 
   background-color: var(--dark);
   z-index: -1;
   
}
p{  
    font-size: 2rem;
}
.wrapper img{
    width: 100%;
    filter: blur(3px);
}

.home-text{
    border: 4px solid black;
   
    z-index: 2;
}









.btn{
    font-size: 2rem;
    color: aquamarine;
    text-decoration: none;
    border: 1rem solid var(--light-blue);
    padding: 1rem 4rem;
    outline: 0;
    cursor: pointer;
    background: var(--light-blue);
    border-radius: 1rem;
    text-align: center;
}

.btn:hover{
    color:  var(--light-blue);
    background: none;
    border:  .2rem solid var(--light-blue);
}

.Logo canvas{
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
.logo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}












/* contant */

.container {
    padding: 0rem;
    display: block;
}
.row{
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    margin-top: 100vh;
    margin-bottom: 10px;
}

.Contact{
    margin-top: 1000px;
    display: inline;
    justify-content: space-between;
    background-color: #0000006b;
}
input, button{
    appearance: none;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    background: none;
    border: none;
    display: block;

    font-size: 1.65rem;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--darkest), var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    margin-bottom: 2rem;
  }


  .contact-middle{
    text-align: center;
    justify-content: center;
    max-width: 50px;
    margin-left: 50px;
    display: table-row;
    border: #1F6AB1 solid 2rem;
  }

  h1{
    font-size: 3rem;
  }
  .social-icons a, .contact-left{
    font-size: 2rem;
  }
  .contant-middle a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
  }


/* mdeia types*/

 @media (min-width:  556px) and (max-width: 900px){
  header .navbar a{font-size: 2rem;}
  header .logo{display: block;} 
}

header .navbar a:hover, header .fa-bars:hover{
    color: var(--light-blue);
    transition: .1s  ease-in-out;
}

header .fa-bars{
    font-size: 2rem;
    color: var(--light);
    cursor: pointer;
    display: none;
}

@media (max-width: 771px) {
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: fixed;
        top: 2000rem; left: 0;
        text-align: center;
        background: var(--dark);
        width: 100%
    }
    header .navbar.active{
        top: 6.5rem; left: 0;
        transition: all step-end;
    }
    header .navbar a{
        display: block;
        margin: 0.3rem;
        font-size: 2.7rem;
        color: var(--white);
    }
    header .navbar a:hover{
        background: var(--gray);
        color: aqua;
    }
    header .logo{
        text-rendering:optimizeSpeed;
        font-size: large;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home{
        display:block;
        margin-top: 0%;
    }
    .home-text{
        position: absolute;
        margin-top: 20%;
        margin-left: 20%;
        margin-right: 20%;
    }
}